.profilePic {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 20px;
}
.circularProfilePic {
  background-color:#fff;
  border:1px solid black;    
  height:40px;
  width:40px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}
.profileContainer {
  display: flex;
  margin: 20px;
}
@media only screen and (max-width: 768px) {
  .profileContainer {
    flex-direction: column-reverse;
  }
}
